body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: impact, fantasy;
    background-color: black;
    overflow-x: hidden;
}
.background {
  margin-top: 5%;
    width: 100%;
    height: 90vh;
    background: black;
    z-index: 3;

}
.backgroundblack {
    background: linear-gradient(0deg, #c16a00 0%, #000033 40%);
    border-radius: 10%;
}
#container {
  width: 80%;
  height: 100vh;
  display: block;
  background-color: black;
  overflow: hidden;
  position: absolute;
  left: 10%;

}


.hide {
  display: none;
}
.show {
  display: block;
}

/* 

Main title on fireplace


*/

/*

*/
#info  {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  font-size: 2vw;
  color: #878787;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  display: none;
}
#pulse {
  animation: pulse 2s ease infinite;
}

/* 
 Pages reference text
*/
#pages {
  position: absolute;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  color: #878787;
}
#aboutPage {
  display: none;
}
#contactPage {
  display: none;
}
#galleryPage {
  display: none;
}
.textIn {
  animation: textIn 1s ease-in forwards;
}

#info h1 {
  animation: heatTitle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#fireplace{
    display: none;
}
#logs {
  width: 270px;
  height: auto;
  position: absolute;
  left:23%;
  top: 50%;
  display: none;
}
/*
Text from start page
*/
#text {
  text-align: center;
  color: rgb(83, 75, 75);
  margin: 0;
  margin-left: 35%;
  height: auto;
    position: absolute;
    top: 40%;
    display: block;
    font-style: oblique;
    font-family: impact, fantasy;
    font-size: 1.5vw;
}

/*

FLAMES 

*/


.mo-fire {
    width: 200px;
    height: auto;
    position: absolute;
    left:45%;
    margin-left: -100px;
    top: 42%;
    z-index: 1;
  }
  .mo-fire svg {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  .flame {
    animation-name: flamefly;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    transform-origin: 50% 50% 0;
  }
  .flame.one {
    animation-delay: 1s;
    animation-duration: 3s;
  }
  .flame3.two{
    animation-duration: 5s;
    animation-delay: 1s;
  }
  
  .flame-main {
    animation-name: flameWobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .flame-main.one {
    animation-duration: 4s;
    animation-delay: 1s;
  }
  .flame-main.two {
    animation-duration: 3s;
    animation-delay: 2s;
  }
  .flame-main.three {
    animation-duration: 2.1s;
    animation-delay: 3s;
  }
  .flame-main.four {
    animation-duration: 3.2s;
    animation-delay: 4s;
  }
  .flame-main.five {
    animation-duration: 2.5s;
    animation-delay: 5s;
  }
/* Marshmallows */


#stick1 {
  max-width: 100%;
  height: 35vh;
  position: absolute;
  bottom: 35%;
  left: 5%;
  transform: rotate(90deg);
  z-index: 2;
  display: none;
}
#stick1:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  bfilter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}
#stick2 {
  max-width: 100%;
  height: 35vh;
  position: absolute;
  bottom: 10%;
  left: 70%;
  transform: rotate(-80deg);
  z-index: 2;
  display: none;
}
#stick2:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  bfilter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}
#stick3 {
  max-width: 100%;
  height: 35vh;
  position: absolute;
  bottom: 10%;
  left: 5%;
  transform: rotate(35deg);
  z-index: 2;
  display: none;
}
#stick3:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  bfilter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

/* About Us Styling */
#aboutUsContainer {
  width: 100%;
  background-color: #00003380;
  color: #878787;
}
#aboutUsContainer h2 {
  margin: 0;
  padding: 5%;
  text-align: center;
  font-size: 3vw;
  animation: heatTitle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#personContainer {
  width: 80%;
  padding: 2%;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
#person {
  width: 30%;
  background: rgb(255,143,14);
  background: linear-gradient(0deg, rgba(255,143,14,1) 39%, rgba(255,42,42,1) 66%);
  background-size: 150% 150%;
  animation: fireBackground 10s ease infinite;
  border-radius: 5px;
  padding: 1%;
  margin: auto;
  color: #000033;;
}
#person #header {
  transform: translate(0, -5%);
  display: flex;
  flex-direction: row;
  background-color: #00000032;
  filter: blur();
  border-radius: 5px;
  font-size: larger;
}
#person #header {
  transform: translate(0, -5%);
  padding-left: 5%;

}
#person #header img {
  width: 20%;
}
#person #header p {
  padding-left: 10%;
  font-size: larger;
  
}
#description {
  font-family: verdana;
  font-style: bold;
}



  /* ANIMATIONS */
  @keyframes flameWobble {
    50% {
      transform: scale(1,1.2) translate(0, -30px) rotate(-2deg);
    }
  }
  @keyframes flamefly {
    0%{
      transform: translate(0) rotate(180deg);
    }
     50% {
       opacity: 1;
    }
    100% {
      transform: translate(-20px, -100px) rotate(180deg);
      opacity: 0;
    }
}
@keyframes heatTitle {
  50% {
    color: #878787;
    
  }
  100% {
    color: rgb(255, 162, 0);
  }
}
@keyframes fireBackground {
  0%{
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes pulse {
  0% {
    text-shadow: 0px 0px 0px;
  }
  
  50% {
    text-shadow: 0px 0px 10px rgb(255, 149, 0);
  }
 
  100% {
    text-shadow: 0px 0px 0px;
  }
}
@keyframes textIn {
  0% {
    opacity: 0;
  }
  50%
  {
    opacity: 0.5;
    filter: blur(2px);
    
  }
  100%
  {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(-20px);
  }
}